<nav class="red accent-4" role="navigation">
    <div class="nav-wrapper">

        <ul class="left hide-on-med-and-down">
            <li><a id="univalle-gram-btn-control-panel" class="btn-floating red accent-4" href="#"><i class="material-icons">menu</i></a></li> 
        </ul>

        <a id="logo-container" href="#"><img class="responsive-img" src="../../../assets/images/logoTransparent.png" width="40px" height="124px"><strong>UniValleGram</strong></a>

        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" data-target="create" href="#" title="Crear"><i class="material-icons">video_call</i></a></li>
            <li><a href="#" title="Aplicaciones de UniValleGram"><i class="material-icons">apps</i></a></li>
            <li><a href="#" title="Notificaciones"><i class="material-icons">notifications</i></a></li>
            <li><a class="dropdown-trigger" data-target="avatar" href="#" title="Avatar"><i class="material-icons">person_pin</i></a></li>
        </ul>
    </div>
</nav>