	<!-- Modal Structure -->
	<div id="univalle-gram-modal-play-video" class="modal modal-fixed-footer">
    <div class="modal-content" align="center">
      <h4>Título del vídeo</h4>
      <img title="Reproducir vídeo" class="responsive-img" src="playVideo.png" alt="Reproducir vídeo">
      <ul class="collection">
                <li class="collection-item">
                  <div>
                    <a href="#!" style="color: black !important;">
                      <span>
                        <i class="material-icons univalle-gram left">person_pin</i>&nbsp&nbsp
                        <input type="text" name="" placeholder="Añadir un comentario público">
                      </span>
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <a href="#!" style="color: black !important;">
                      <span>
                        <i class="material-icons univalle-gram left">person_pin</i>&nbsp&nbsp
                        <strong>Daniela Arenas:</strong> ¡Muy educativo y divertido a la vez!
                      </span>
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <a href="#!" style="color: black !important;">
                      <span>
                        <i class="material-icons univalle-gram left">person_pin</i>&nbsp&nbsp
                        <strong>Lina Gomez:</strong> <3 Interesante que nos permita autenticarnos desde varias plataformas el framework.
                      </span>
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <a href="#!" style="color: black !important;">
                      <span>
                        <i class="material-icons univalle-gram left">person_pin</i>&nbsp&nbsp
                        <strong>Joseph Bejarano:</strong> Genial que hagamos uso de recursos de terceros para aliviar la carga en nuestra máquina :).
                      </span>
                    </a>
                  </div>
                </li>
              </ul>
    </div> 
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Comentar</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
  <div id="univalle-gram-modal-upload-video" class="modal modal-fixed-footer">
    <div class="modal-content" align="center">
      <h4>Subir vídeos</h4>
      <button class="btn univalle-gram">SELECCIONAR ARCHIVOS</button>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Subir</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>
  <div id="univalle-gram-modal-live" class="modal modal-fixed-footer">
    <div class="modal-content" align="center">
      <h4>Emitir en directo</h4>
        <button class="btn univalle-gram">ENCENDER CÁMARA</button>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Iniciar directo</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>
<!-- Dropdown Structure -->
<ul id="avatar" class="dropdown-content">
  <li><a class="univalle-gram" href="#!"><i class="material-icons left">brightness_4</i> Tema oscuro: <span id="univalle-gram-dark-theme-activated" data-state="false">desactivado</span></a></li>
  <li><a class="univalle-gram" href="login.html"><i class="material-icons left">exit_to_app</i> Cerrar sesión</a></li>
</ul>
<ul id="create" class="dropdown-content univalle-gram">
  <li><div><a class="univalle-gram modal-trigger" data-target="univalle-gram-modal-upload-video" href="#!"><i class="material-icons left">play_arrow</i>Subir vídeo</a></div></li>
  <li><div><a class="univalle-gram modal-trigger" data-target="univalle-gram-modal-live" href="#!"><i class="material-icons left">camera_alt</i>Emitir en directo</a></div></li>
</ul>






<!-- Organizado -->
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row univalle-gram">
    <app-leftmenu></app-leftmenu>
  </div>
</div>