<form>
    <div class="modal-content" align="center">
        <h4>Subir vídeos</h4>
        <div class="file-field input-field">
            <div class="btn univalle-gram">
              <span>SELECCIONAR ARCHIVOS</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
  </div>
  <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat" type="submit">Subir</button>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</form>