<form (ngSubmit)="onSubmit(f)" #f="ngForm" enctype="multipart/form-data">
    <div class="modal-content" align="center">
        <h4>Subir vídeo</h4>
        <div class="input-field col s12 univalle-gram">
          <input id="title" name="title" type="text" required [(ngModel)]="video.title">
          <label for="title">Título</label>
        </div>
        <div class="input-field col s12 univalle-gram">
          <input id="description" name="description" type="text" required [(ngModel)]="video.description">
          <label for="description">Descripción</label>
        </div>
        <div class="file-field input-field">
          <div class="btn univalle-gram">
            <span>SELECCIONAR MINIATURA</span>
            <input id="miniatura" name="miniatura" type="file" accept="image/*" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="file-field input-field">
            <div class="btn univalle-gram">
              <span>SELECCIONAR VIDEO</span>
              <input id="fileVideo" name="fileVideo" type="file" accept="video/*" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
        </div>
        <input id="urlLastUploadedVideo" type="text" [value]="urlVideo | async" hidden="hidden">
  </div>
  <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat" type="submit">Subir</button>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</form>