<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row univalle-gram">
    <app-leftmenu></app-leftmenu>
    <div class="card-columns"> 	
        <div class="card univalle-gram" *ngFor="let video of videos">
            <img [src]="video.thumbnails.high.url" class="card-img-top" alt="">
            <div class="container">
                <h5 class="card-title">{{video.title}}</h5>
                <p class="card-text">
                    <strong>Autor:</strong> {{video.channelTitle}}
                    <strong>Publicado:</strong> {{video.publishedAt | date}}
                </p>
                <br>
            </div>
        </div>
    </div>
    
    <button id="univalle-gram-btn-trigger-modal-play-video" class="modal-trigger" data-target="univalle-gram-modal-play-video" hidden="hidden"></button>
  </div>
</div>