<!-- Div left max -->
<div id="univalle-gram-main-control-panel" class="col s3 m3 l3 xl3">
	<ul class="collection">
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">home</i>Inicio</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">whatshot</i>Tendencias</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">subscriptions</i>Suscripciones</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">video_library</i>Biblioteca</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">history</i>Historial</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">play_arrow</i>Mis vídeos</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">watch_later</i>Ver más tarde</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">thumb_up</i>Vídeos que me gustan</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">arrow_drop_down</i>Mostrar más</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><strong>SUSCRIPCIONES</strong></a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" title="Asignatura" href="#!"><i class="material-icons left">account_balance</i>Aplicaciones en la web y redes inalámbricas</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" title="Asignatura" href="#!"><i class="material-icons left">account_balance</i>Diseño de interfaces gráficas de usuario</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" title="Diversión" href="#!"><i class="material-icons left">tag_faces</i>Aprender divirtiéndose</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><strong>MÁS DE UNIVALLEGRAM</strong></a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">settings</i>Configuración</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">flag</i>Historial de denuncias</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">help</i>Ayuda</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">feedback</i>Enviar sugerencias</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">assignment</i>Políticas de uso</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!"><i class="material-icons left">assignment_ind</i>Políticas de tratamiento de datos personales</a></div></li>
    <li class="collection-item"><div><a class="univalle-gram" href="#!">Powered by hectorfabio.com</a></div></li>
  </ul>
</div>

<!-- Div left min -->
<div id="univalle-gram-secondary-control-panel" class="col s1 m1 l1 xl1" hidden="hidden">
	<ul class="collection">
				<li class="collection-item">
					<div align="center">
						<a class="univalle-gram" href="#!">
							<i class="material-icons">home</i><br>
							Inicio
						</a>
					</div>
				</li>
				<li class="collection-item">
					<div align="center">
						<a class="univalle-gram" href="#!">
					<i class="material-icons">whatshot</i><br>
					Tendencias
				</a>
			</div>
		</li>
				<li class="collection-item">
					<div align="center">
						<a class="univalle-gram" href="#!">
							<i class="material-icons">subscriptions</i><br>
							<span style="font-size: 80%">Suscripciones</span>
						</a>
					</div>
				</li>
				<li class="collection-item">
					<div align="center">
						<a class="univalle-gram" href="#!">
							<i class="material-icons">video_library</i>
							Biblioteca
						</a>
					</div>
				</li>
			</ul>
</div>